@using IVoice.Models.Common
@using IVoice.Extensions
@model IVoice.Models.Users.PersonalInfoModel

<div style="display:grid;">
    <div class="col-md-2 col-md-offset-5 user-upload-avatar">
        <img src="@Model._img" id="pinfo_avatar" />
    </div>
    <div class="col-md-12 margin-bottom-20">
        @Html.Partial("_UploadFile", new UploadModel() { UniqueId = Guid.NewGuid(), _function = "ChangeAvatar",
                                                                                            _div_id = "upload", _input_file = "file"})
    </div>

    @using (Ajax.BeginForm("SavePersonalInfo", "User", new AjaxOptions { OnComplete = "onSavePersonalInfo" }, new { id=$"SavePersonalInfo" } ))
    {
        @Html.Partial("_VoicerFilter", Model.info)
    }
</div>