
@{
    Layout = "~/Views/Shared/_Forum.cshtml";
}


<div class="row overflow-hidden">

    <!-- content -->
    <div class="content content-layout  ">
        <div class="container">

            <div class="panel with-nav-tabs panel-default margin-top-10">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="text-white"><h3><i class="fa fa-table"></i>&nbsp;Categories</h3></li>
                        <li class="pull-right"><a href="@Url.Action("Create","Forum")"><i class="fa fa-plus-circle"></i>&nbsp;Create new category</a></li>
                    </ul>
                </div>
            </div>


            <div class="row">
                <table class="table table-dark table-striped table-hover box-default table-area">
                    <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script type="text/javascript">

        $(function () {
            var table = $('.table-area')
                .DataTable(
                {
                    "iDisplayLength": 10,
                    "sPaginationType": "full_numbers",
                    responsive: true,
                    select: false,
                    processing: true,
                    serverSide: true,
                    paging: true,
                    "bFilter": false,
                    "bLengthChange": false,
                    "ordering": false,
                    ajax: {
                        type: "POST",
                        contentType: "application/json",
                        url: '@Url.Action("GetTableList")',
                        data: function (d) {
                            return JSON.stringify(d);
                        }
                    },
                    "columns": [
                        { "data": "Id" },
                        { "data": "Name" },
                        { "data": "Description" },
                        { "data": "Users.Nickname" }
                    ],
                    "columnDefs": [
                        {
                            "targets": 0,
                            className: "col-md-4",
                            render: function (data, type, row, param) {
                                return '<div class="height-all pull-left"><i class="fa fa-folder secondary-link margin-10"></i></div> ' +
                                       '<div class="height-all margin-left-10 pull-left">' +
                                       '  <a href=' + row.AreaUrl + '>' + row.Name + '</a><br />' +
                                       '  <span class="text-small">' + row.Description + '</span>' +
                                       '</div>';
                            }
                        },
                        {
                            "targets": 1,
                            "data": null,
                            "render": function (data, type, row, param) {
                                return row.Topics + '<br /> <span class="text-small">Topics</span>';
                            }
                        },
                        {
                            "targets": 2,
                            "data": null,
                            "render": function (data, type, row, param) {
                                return row.Posts + '<br /> <span class="text-small">Posts</span>';
                            }
                        },
                        {
                            "targets": 3,
                            className: "col-md-3",
                            "data": null,
                            "render": function (data, type, row, param) {
                                if (row.LastTopicId)
                                    return ' <a href="' + '@Url.Action("Topic", "Forum")' + '/' + row.LastTopicId + '">' + row.LastTopicName + '</a> <br />' +
                                           row.Voicer + ' - <span class="secondary-link text-small">' + GetAllDateFromJSON(row.LastTopicDate) + '</span>';
                                else
                                    return '';
                            }
                        }
                    ],
                    "order": []
                });

        });

        function ReloadTable() {
            $(".table-area").dataTable().fnDraw();
        }
    </script>
}