@model IEnumerable<IVoice.Models.IP.IPViewModel>

@foreach (var item in Model.ToList())
{
    <div class="col-md-4">
        <div class="pd-tb-15">
            @Html.Partial("_IPCard", item)
        </div>

    </div>
}
