@using IVoice.Extensions
@using IVoice.Models.Components.Tabs
@using IVoice.Models.Components.Common
@using IVoice.Models.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currentUserId = ViewBag.currentUserId;
    var userId = ViewBag.userId;
    var albumId = ViewBag.AlbumId;
}

<div class="container fluid-content">
    <div class="row" style="margin-top:20px; margin-bottom:20px;">

    </div>
</div>

@section scripts {

}