@model IVoice.Models.Components.CardBodyListModel

<div class="card-body @Model._class" style="@Model._style" id="@(Model._html_id != "" ? Model._html_id : "")">
    @foreach (var item in Model._lst)
    {
        <div class="card-body-item-list">
            @Html.Raw(item)
        </div>
    }
</div>