@model IVoice.Models.Common.ImageCardModel

<div class="col-md-4">
    <div class="pd-tb-15">
        <a href="@Model._link" class="white-link">
            <div class="image-card-img">
                <img src="@Model._img" class="" alt="@Model._label" />
            </div>
            <div class="image-card-description">
                <span>@Model._label</span>
            </div>
        </a>
    </div>
</div>
