@model IVoice.Models.Common.CarouselModels
@{
    ViewBag.Title = "Home Page";
}
@section hrefs {
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" href="~/Scripts/simplyscroll/jquery.simplyscroll.css">
    <link href="~/Content/Components/carousel.css" rel="stylesheet" />
}
<div class="full-content">
    <div class="slider-side col-md-3">
        @Html.Partial("~/Views/Shared/Components/Carousel/_Carousel.cshtml", Model._lst)
    </div>
    <div class="home-back col-md-9">
        <img id="home-image" src="~/Images/home/home-back.jpg" />
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/simplyscroll/jquery.simplyscroll.min.js"></script>

    <script type="text/javascript">

        $(".slider-side img").hover(function () { $("#home-image").attr("src", $(this).attr('src')); });

        (function ($) {
            $(function () {
                $('#scroller').simplyScroll({
                    customClass: 'vertical-slider',
                    orientation: 'vertical',
                    auto: true,
                    manualMode: 'loop',
                    speed: 3
                });
            });
        }) (jQuery);
    </script>
}