@model IVoice.Models.Common.CarouselModels
@{
    ViewBag.Title = "Home Page";
}
@section hrefs {
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/Components/carousel_custom.css" rel="stylesheet" />
}
<div class="full-content">
    <div class="home-side col-md-3">
        @Html.Partial("~/Views/Shared/Components/Carousel/_Carousel.cshtml", Model._lst)
    </div>
    <div class="home-back col-md-9">
        <img id="home-image" src="~/Images/home/home-back.jpg" />
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(".home-side img").hover(function () { $("#home-image").attr("src", $(this).attr('src')); });
    </script>
    <script src="~/Scripts/views/common/carousel_custom.js"></script>
}

