@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Permission Denied";
}

<div class="container full-content margin-top-30" style="text-align:center;">
    <h1>You have no permission to this page</h1>
</div>