.vertical-slider {
    width: 100%;
    height: 100%;
}

    .vertical-slider .simply-scroll-clip {
        width: 100%;
        height: 100%;
    }

        .vertical-slider .simply-scroll-clip li {
            width: 100%;
            height: auto;
        }
