@model List<IVoice.Models.Common.CarouselModel>

<ul id="scroller">
    @foreach (var item in Model)
    {
        <li style="height:auto!important;">
            <a href="@item._link"><img src="@item._img" /></a>
        </li>
    }
</ul>

