@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Payments";
}

<div class="container full-content padding-top-10">
    For general information about e1referral.<br />
    Please email us at: info@e1referral.com<br />
    <br />
    For enquiries about Ivoice.<br />
    Please email us at: ivoiceenquiries@e1referral.com<br />
    <br />
    For support regarding any purchases you made within e1referral.<br />
    Please email us at: ivoicesupport@e1referral.com

</div>