@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Payments";
}

<div class="container padding-top-10">
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <SPAN STYLE="color: #ffffff">
                        If
                        you’re under the age of 18 you may use any ei1 payments under the
                        guidance of a lawful guardian. Make-sure these terms should be
                        reviewed with your lawful guardian so that you both understand your
                        responsibilities and rights
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <U>
                        <SPAN STYLE="color: #ffffff">
                            Courtesy
                            translations
                        </SPAN>
                    </U>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2 STYLE="font-size: 9pt">
                    <SPAN STYLE="color: #ffffff">
                        :
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#595959">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <SPAN STYLE="color: #ffffff">
                        This
                        agreement is written in English (Uk). Any version translation
                        committed to this version should replicate the same means.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666">
            <FONT FACE="lucida grande, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <SPAN STYLE="color: #ffffff">
                        We
                        authorize you to read through these user payment terms to confirm the
                        understanding of your rights and responsibilities, as well as
                        ours.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR><BR></SPAN></FONT></FONT></FONT><FONT COLOR="#3b5998">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=3>
                    <SPAN STYLE="color: #ffffff">
                        1.
                        Going through with a Purchases
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR><BR></SPAN></FONT></FONT></FONT><BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Spending
                                    and funding:
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                When
                                making a purchase on any community within the e1 platform you should
                                provide a suitable funding platform.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.17in">
                <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><U><SPAN STYLE="color: #ffffff">Pricing</SPAN></U></FONT></FONT></FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                Pay full attention to details of any transactions made, because your
                                price may include taxes, additional fees in some cases shipping
                                cost.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Extra
                                    terms
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                They may be additional terms presented relating to purchases before
                                the confirmation of the transaction, those additional terms will
                                cover that transaction.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.17in">
                <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><U><SPAN STYLE="color: #ffffff">Subscriptions/plans</SPAN></U></FONT></FONT></FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                If you purchase any subscription/plan, we will bill your funding
                                platform immediately and then again at the beginning of each
                                subscription/plan period. You agree to these following terms.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                A.
                                Subscription/plan purchase can be canceled anytime in your account
                                and setting.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Actual
                                    sale
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                You are also authorized to use e1 payments to process a transaction
                                for a product within our platform.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    No
                                    Warranties
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                You are aware that we may not be the owner of the product/service
                                being you purchased on any community within the e1 platform. In so
                                we make no warranties of any sought, implied or expressed concerning
                                the product/service being sold on any community within the e1
                                platform.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR></SPAN></FONT></FONT></FONT><FONT COLOR="#3b5998">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=3>
                    <SPAN STYLE="color: #ffffff">
                        2.
                        Method of payment
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR><BR></SPAN></FONT></FONT></FONT><BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Funding
                                    platforms:
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                We
                                provide a variety of funding mechanism that supports your funding
                                need.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><U><SPAN STYLE="color: #ffffff">Authority</SPAN></U></FONT></FONT></FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                When you provide a funding platform to us you confirm you are
                                authorized to use that platform for funding. You also authorize us
                                to charge the full fee to the funding platform you are using to
                                process payments, furthermore, the funding platform you provide us
                                and transaction information will be stored.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Failed
                                    funding
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                If an overdraft occurs in the result of a transaction you will be
                                fully responsible for the fee or fees owed.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR></SPAN></FONT></FONT></FONT><FONT COLOR="#3b5998">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=3>
                    <SPAN STYLE="color: #ffffff">
                        3.
                        Actions We May Take
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR><BR></SPAN></FONT></FONT></FONT><BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <U>
                        <SPAN STYLE="color: #ffffff">
                            Usage
                            compliance
                        </SPAN>
                    </U>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <SPAN STYLE="color: #ffffff">
                        :
                        We are authorized to withdraw your eligibility to use e1 payments at
                        any time for valid purposes.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><U><SPAN STYLE="color: #ffffff">Inquiries</SPAN></U></FONT></FONT></FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                By using e1 payment it is brought to your awareness that we can make
                                an inquiry through a third party or directly concerning your
                                creditworthiness.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Right
                                    to cancel
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                Transaction may be canceled if it is believed to go against the
                                rights and responsibilities concerning these terms, or if it's
                                thought that doing so may cause the avoidance of financial loss or
                                fraudulent behavior.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Limitation
                                    concerning payments:
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                We
                                may place a hold-up on payment for a period of time, in relation to
                                preventing financial loss to us and yourself.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Sharing
                                    of information
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                In regard to preventing financial loss on your side and to us we may
                                get in touch with your funding platform issuer, law enforcers, or
                                affected third parties (including other users) and share information
                                of any payments you are connected with.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Abandoned
                                    Property:
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                We may automatically refund or submit fund in an abandoned balance
                                to yourselves (back to your payment)or the appropriate governing
                                body, if your account is left abandoned, or you were instructed or
                                we or you (if you did not meet any obligation to reinstate it)
                                decided to delete or deactivate your account.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#3b5998">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=3>
                    <SPAN STYLE="color: #ffffff">
                        4.
                        Reversals of disputed
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <SPAN STYLE="color: #ffffff">
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <U>
                        <SPAN STYLE="color: #ffffff">
                            The
                            assistance of customer's:
                        </SPAN>
                    </U>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <SPAN STYLE="color: #ffffff">
                        Our
                        e1 payments provide numerous tools in assistance to any communication
                        you may have with a third party concerning any transaction.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    No
                                    liability for spend transaction
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                If there are any disputes that arise with a third party over a
                                purchased service we will not be held liable for the service or
                                goods perusing the transaction. You should be aware that we are only
                                liable to handle your transaction. If you made an order witch is not
                                available anymore you are obliged to ask for a refund.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Duty
                                    to notify:
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                if you are under the belief that an illegitimate/unjustified
                                transaction has been in action under your account in concern to any
                                community within the e1 platform, you acknowledge to notify us
                                immediately.  This is so that we may take action to prevent
                                financial loss. Accept if this claim was presented to us within 30
                                days, any claims against us arising out of or otherwise concerning
                                this transaction will be waived.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-left: 0.5in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.17in">
                <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><U><SPAN STYLE="color: #ffffff">Intervention</SPAN></U></FONT></FONT></FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                We may decide to intervene before any transaction has been made
                                between you and a service provider concerning any community within
                                the e1 platform.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.14in; line-height: 0.19in">
        <BR><BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-bottom: 0.14in; line-height: 0.19in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Technical
                                    difficulties
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                If any technical failure arises that causes a transaction to stall
                                or fail you may demand your transaction to be completed at a later
                                time.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR></SPAN></FONT></FONT></FONT><FONT COLOR="#3b5998">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=3>
                    <SPAN STYLE="color: #ffffff">
                        5.
                        Notices and Amendments to These Terms
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR><BR></SPAN></FONT></FONT></FONT><BR>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Notice
                                    to you
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                You are aware concerning the use of e1 payments that we may transfer
                                you any information concerning purchases you made within the e1
                                platform. You may also receive notices via email or on your user
                                page. this shall be received within 24hours.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Amendment
                                    guidelines
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                These terms may be updated from time to time without any notices.
                                The terms visible at the time is the term in use concerning any
                                payments within the e1 platform
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#00000a"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="color: #ffffff">.</SPAN></FONT></FONT></FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR></SPAN></FONT></FONT></FONT><FONT COLOR="#3b5998">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=3>
                    <SPAN STYLE="color: #ffffff">
                        6.
                        Additional Terms
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666"><FONT FACE="Tahoma, serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN STYLE="color: #ffffff"><BR><BR></SPAN></FONT></FONT></FONT><BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <U>
                        <SPAN STYLE="color: #ffffff">
                            Conflict
                            of terms
                        </SPAN>
                    </U>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <SPAN STYLE="color: #ffffff">
                        :
                        You are fully aware of your obligation concerning this&nbsp;
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><A HREF="https://www.facebook.com/legal/terms">
            <FONT COLOR="#3b5998">
                <FONT FACE="Tahoma, serif">
                    <FONT SIZE=1 STYLE="font-size: 8pt">
                        <U>
                            <SPAN STYLE="color: #ffffff">
                                Statement
                                of Rights and Responsibilities
                            </SPAN>
                        </U>
                    </FONT>
                </FONT>
            </FONT>
        </A><FONT COLOR="#666666">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=1 STYLE="font-size: 8pt">
                    <SPAN STYLE="color: #ffffff">
                        any events that collide with this statement, these payment terms
                        shall stand.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
                <FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <U>
                                <SPAN STYLE="color: #ffffff">
                                    Conflict
                                    of laws
                                </SPAN>
                            </U>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#666666">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN STYLE="color: #ffffff">
                                :
                                Some countries my stand against you making a payment through any
                                community within the e1 platform, nothing in these terms have the
                                ability to go against such foreign law.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.17in">
        <BR><BR>
    </P>
