@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Payments";
}

<div class="container fluid-content padding-top-10">
    <P ALIGN=LEFT STYLE="line-height: 0.17in">
        <FONT COLOR="#333333">
            <FONT FACE="Times New Roman, serif">
                <FONT SIZE=4 STYLE="font-size: 15pt">
                    <B>
                        <SPAN STYLE="color: #ffffff">
                            Statement
                            of Rights and Responsibilities
                        </SPAN>
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        This
                        agreement is written in English (Uk).
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#595959">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        This
                        agreement is written in English (Uk). Any version translation
                        committed to this version should replicate the same means.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        Date
                        11/06/2019<BR><BR>
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2 STYLE="font-size: 10pt">
                    <B>
                        <SPAN STYLE="color: #ffffff">
                            Responsibilities
                            and duty
                        </SPAN>
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333"><FONT FACE="Tahoma, serif"><FONT SIZE=2><SPAN STYLE="color: #ffffff">This</SPAN></FONT></FONT></FONT><FONT COLOR="#00000a">
            <FONT FACE="Calibri, serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <SPAN STYLE="color: #ffffff">
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><A HREF="http://click.thesaurus.com/click/nn1ov4?clksite=thesc&amp;clkpage=the&amp;clkld=0&amp;clkorgn=0&amp;clkord=0&amp;clkmod=1clk&amp;clkitem=acknowledgment&amp;clkdest=http%3A%2F%2Fthesaurus.com%2Fbrowse%2Facknowledgment"><FONT COLOR="#4d4e51"><FONT FACE="Verdana, serif"><FONT SIZE=2><U><SPAN STYLE="color: #ffffff">acknowledgment</SPAN></U></FONT></FONT></FONT></A><FONT COLOR="#4d4e51">
            <FONT FACE="Verdana, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        concerning
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        right
                        and responsibilities stamps the importance of users use of
                        e1referral, and is the terms/principles we use to conduct/governs the
                        relationship between us, users and outside interaction concerning
                        e1referral. You automatically agree to this acknowledgement
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#4d4e51">
            <FONT FACE="Verdana, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        ,
                        which may be updated from time to time.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <B>
                        <SPAN STYLE="color: #ffffff">
                            Privacy
                        </SPAN>
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                We
                                keep the importance of your privacy in high regard. You are in full
                                control of how you will like to distribute and share
                                content/information concerning your usage of e1referral.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <B>
                        <SPAN STYLE="color: #ffffff">
                            Content
                            and Information sharing
                        </SPAN>
                    </B>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#404040">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        You
                        are in full
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#404040">
            <FONT FACE="Arial, serif">
                <FONT SIZE=4 STYLE="font-size: 13pt">
                    <SPAN STYLE="color: #ffffff">
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#404040"><FONT FACE="Tahoma, serif"><FONT SIZE=2><SPAN STYLE="color: #ffffff">possession</SPAN></FONT></FONT></FONT><FONT COLOR="#404040">
            <FONT FACE="Arial, serif">
                <FONT SIZE=2 STYLE="font-size: 11pt">
                    <SPAN STYLE="color: #ffffff">
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#404040">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        plus
                        ownership and also control of how the information you show/make is
                        distributed.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <FONT COLOR="#262626">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        A.
                        Concerning content that is bound by intellectual property rights,
                        e.g.  photos and videos (IP content), you give us the following
                        authorization, subject to your use of
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#333333"><FONT FACE="Tahoma, serif"><FONT SIZE=2><SPAN STYLE="color: #ffffff">e1referral</SPAN></FONT></FONT></FONT><FONT COLOR="#262626">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        to engage a non-exclusive, transferable, sub-licensable,
                        royalty-free, worldwide license to use any IP content that you post
                        on or in connection with any community within the
                    </SPAN>
                </FONT>
            </FONT>
        </FONT><FONT COLOR="#333333"><FONT FACE="Tahoma, serif"><FONT SIZE=2><SPAN STYLE="color: #ffffff">e1</SPAN></FONT></FONT></FONT><FONT COLOR="#262626">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        platform. This license ends when you decide to delete your accounts
                        unless others are still in possession of content that was distributed
                        to them previously.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <FONT COLOR="#262626">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        B.
                        When ip content is deleted it is deleted in the affection similar to
                        emptying the recycle bin on a computer. In so you commit and
                        understand that removed content may be backed up for a considerable
                        period of time (but will not be available to others).
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        C.
                        When you're in use of an application, the application may ask for
                        your allowance to access your content and information including
                        content and information which was shared with you by others.  We
                        stand firm in concern of application respecting your privacy, and
                        your agreement with that application will demand how the application
                        can use, store, and transfer that content and information.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        D.
                        When you publish content or information publicly, it confirms your
                        allowance, including people outside of e1referral, to access and use
                        that information, and associate it with you (i.e., the name you
                        associated with the community it linked with).
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0in; line-height: 0.19in; page-break-inside: avoid; page-break-after: avoid">
        <FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        E.
                        We highly take heed of your feedback and suggestions but also
                        accommodate you to understand that we may use them without you being
                        compensated, as we are not obliged to.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-left: 0.4in; margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
        <BR><BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif">
                    <FONT SIZE=2>
                        <B>
                            Security of Account+
                            Registration
            </SPAN></B>
        </FONT></FONT></FONT><FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        <BR><BR>e1referral
                        users should provide their real name when creating an account and we
                        intend to keep it that way. Here are a few commitment's you confirm
                        to us concerning registration and maintaining the security of your
                        account.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not give any wrong or misleading personal information.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not create another account without our consent If we locked
                                Your account previously.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not use e1referral if you’re under the age of 13 without
                                parent supervision.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not use e1referral if you are a convicted sex offender.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                Your
                                contact information will always be accurate and up to date.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not distribute or share your password, or let anyone else have
                                the ability to access your account or proceed with anything that
                                might jeopardize the security of your account.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not transfer your account (including any Page or application
                                you administer) to anyone without first getting our written
                                permission.<BR>&nbsp;
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif"><FONT SIZE=2><B>Safety
            </SPAN></B>
        </FONT></FONT></FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                We
                                do our utmost best to keep e1referral safe but it is not guaranteed.
                                With the unity between us and users, we will like the following to
                                be complied with.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not spread, distribute, plus publicize unauthorized commercial
                                communications (such as spam).
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not take users' information or content, or otherwise access
                                e1referral, using automated means (such as harvesting bots, robots,
                                spiders, or scrapers) without our consent.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not be part of any unlawful multi-level marketing, such as a
                                pyramid scheme.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not upload viruses or other malicious code.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not ask for the login information to access an account
                                belonging to someone else or try by any other means to access
                                another users account.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not, bully, harass or perform any other action of intimidation
                                to any other users.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not distribute any content that: promotes hate speech,
                                threatening, behavior (in which e1 will not be held responsible for,
                                if apparent).
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                agree to not distribute any content promotes incites of violence or
                                sexual nature without the correct age restriction 18+.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not nurture the growth or operate a third-party application
                                containing alcohol-related, dating or other mature content
                                (including advertisements) without appropriate age-based
                                restrictions 18
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT><FONT COLOR="#333333"><SUB><FONT FACE="Tahoma, serif"><FONT SIZE=2><SPAN STYLE="color: #ffffff">+.</SPAN></FONT></FONT></SUB></FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not engage in using e1referral for any unlawful, misleading,
                                malicious, or discriminatory act.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not be apart or do anything that damages the function and
                                working of e1referral
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not provide any facility that pushes or contributes to any
                                violations of this acknowledgment of our policies.<BR>&nbsp;
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif">
                    <FONT SIZE=2>
                        <B>
                            Protection of other
                            People's Rights
            </SPAN></B>
        </FONT></FONT></FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                We
                                respect the right of others and we expect you to do the same.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not distribute any content or take any action concerning the
                                use of e1referral that breaches someone else's rights or otherwise
                                breach the law.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                We
                                can remove any content or information you deliver on e1referral if
                                it’s believed it collides with this statement.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <SPAN STYLE="color: #ffffff">
                        <FONT FACE="Tahoma, serif">
                            <FONT SIZE=2>
                                You
                                are provided with tools to help protect your intellectual property
                                rights.
                    </SPAN>
                </FONT></FONT></FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                If
                                your content is removed in-concern to the infringement of someone
                                else’s copyright and is believed by you to be a mistake you will
                                be provided with the opportunity to appeal.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                If
                                you are guilty of infringing other peoples intellectual property
                                rights you will be at high risk of losing your account.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not use our copyrights or trademarks accept if it was permitted
                                by us.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                If
                                you decide to collect information from users, you will obtain their
                                consent, and make it clear you (and not e1referral) are the one
                                collecting their information and deliver a privacy policy which
                                explains information collected and how you will use it.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not publish anyone’s identification documents or sensitive
                                financial information on e1referral.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-left: 0.4in; margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
        <BR><BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif">
                    <FONT SIZE=2>
                        <B>
                            Our
                            Mobile and Other Devices
            </SPAN></B>
        </FONT></FONT></FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                Our
                                mobile services are currently free.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                authorize users to sync (including through an application) their
                                devices in regard to any information that is seen by them on
                                e1referral.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
        <BR><BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif">
                    <FONT SIZE=2>
                        <B>
                            requirements relevant to
                            Social Plugins&nbsp;
            </SPAN></B>
        </FONT></FONT></FONT><FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        <BR><BR>If
                        you include our Social Plugins, to your website, the following
                        additional terms apply to you:
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                We
                                give users the authority to use our Social Plugins.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                give us and others the authority to use such links and content on
                                e1referral.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will not accommodate a Social Plugin on a page that contains content
                                that violates this Statement.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
        <BR><BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif"><FONT SIZE=2><B>Amendments
            </SPAN></B>
        </FONT></FONT></FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                Unless
                                there is a change concerning administrative or legal purposes or to
                                conform an inaccurate statement you will be provided seven (7) days’
                                notice (for example, by posting the change on users activity and
                                update section) where you will have an opportunity to comment.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                If
                                there are any changes made to our policies concerning this statement
                                we may provide notice on users activity and update section.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                Your
                                continued use of e1referral confirms your acceptance of our amended
                                terms.<BR>&nbsp;
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif"><FONT SIZE=2><B>Termination
            </SPAN></B>
        </FONT></FONT></FONT><FONT COLOR="#333333">
            <FONT FACE="Tahoma, serif">
                <FONT SIZE=2>
                    <SPAN STYLE="color: #ffffff">
                        <BR><BR>If
                        you breach this Statement, or in any case create a risk of legal
                        exposure to us, you are at risk of losing your access concerning the
                        use of e1referral and you will be notified by email if such occurred
                        or you will be notified once trying to access your account. You can
                        delete or disable any of your accounts within the e1 platform at any
                        time in such cases this statement shall still apply 2.B, 2.D, 3-E,
                        8.B, 9.1-9.3, 9.8, 9.J, 9.L, 9.M, 9.P, 10.C, , and 15-1.
                    </SPAN>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif"><FONT SIZE=2><B>Disputes
            </SPAN></B>
        </FONT></FONT></FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                This
                                statement is governed by the laws of England. If there’s is a
                                claim brought against us in-concern to your actions relating to
                                content or information e1referral, you will hold us harmless
                                concerning any damages losses plus expenses of any sought (including
                                reasonable legal fees and costs) related to such claim. We also like
                                to make clear we do not direct or control how users decide to use
                                e1referral and are not responsible for the content or information
                                users transmit or share on elitevoice1. We will not be held
                                responsible for any abusive, irrelevant, and unlawful content you
                                may come across on e1referral. We are not at any fault for this
                                sought of handling, whether online or offline.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                We
                                like to keep e1referral bug free but you are aware you use it out of
                                your own liability. We do not promise that e1referral will be error
                                free or safe or be without any dysfunctional problems. We will not
                                be held at fault for any action information data and content you
                                acquit us, our employees/agents and also any connection concerning
                                claims of damages or blames unknown and known you may have with any
                                third parties. We will not be held responsible for any causes
                                concerning loss or lost profits or other consequences incidental
                                commencing with this statement. elitevoice1 will be at the maximum
                                limit permitted by applicable law.<BR>&nbsp;
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
        <FONT COLOR="#333333">
            <SPAN STYLE="color: #ffffff">
                <FONT FACE="Tahoma, serif">
                    <FONT SIZE=2>
                        <B>
                            Requirements relevant to
                            Users Outside the UK
            </SPAN></B>
        </FONT></FONT></FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                Our
                                drive to create a global platform that is dependable for everyone
                                and respectable to laws the following applies to users outside the
                                Uk.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                are aware that we are authorized to have your personal data sent and
                                handled/processed in the Uk.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
        <FONT COLOR="#333333"><SPAN STYLE="color: #ffffff">      <FONT FACE="Tahoma, serif"><FONT SIZE=2><B>Other</SPAN></B></FONT></FONT></FONT>
    </P>
    <UL>
        <LI>
            <P ALIGN=LEFT STYLE="margin-top: 0.07in; margin-bottom: 0.17in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                This
                                Statement completes the whole agreement between the parties
                                regarding e1referral, and also overpowers any prior agreements.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                If
                                there's any part of this statement that is clarified to be
                                unenforceable the remaining fraction will be of full effect.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                If
                                there’s is any failure to fur fill any parts of this statement by
                                us it will be considered as a waiver.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                Any
                                amendment to or waiver concerning this Statement must be constructed
                                in writing and signed by us.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                Any
                                of your rights and obligations underneath this statement will not be
                                transferred to anyone else without our consent.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                This
                                Statement does not concede any third party beneficiary rights.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
        <LI>
            <P ALIGN=LEFT STYLE="margin-right: 0.4in; margin-top: 0.07in; margin-bottom: 0.07in; line-height: 0.2in">
                <FONT COLOR="#333333">
                    <FONT FACE="Tahoma, serif">
                        <FONT SIZE=2>
                            <SPAN STYLE="color: #ffffff">
                                You
                                will comply with the above terms when using e1referral.
                            </SPAN>
                        </FONT>
                    </FONT>
                </FONT>
            </P>
    </UL>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.14in; line-height: 0.19in">
        <BR><BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.14in; line-height: 0.19in">
        <BR><BR>
    </P>
    <P ALIGN=LEFT STYLE="margin-bottom: 0.14in; line-height: 0.19in">
        <BR><BR>
    </P>
