@model IVoice.Models.Components.Tabs.CardBodyTabsListModel
    <div class="box-default tab-content">
        @{
            var i = 1;
            foreach (var item in Model._body)
            {
                item._html_id = "tab_" + i;
                item._style = "height:240px; overflow-y:auto;";
                @Html.Partial("~/Views/Shared/Components/_CardBodyList.cshtml", item)
                i++;
            }
        }
    </div>
