html {
    height: 100%;
}

body {
    background-color: #303030;
    color: white;
}


.overlay-loading {
    z-index: 9999 !important;
    position: fixed;
    background-color: gray;
    opacity: 0.5;
    font-size: 60px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

    .overlay-loading div {
        position: absolute;
        top: 50%;
        left: 50%;
    }

.main-container {
}


.header {
    background-color: #252525;
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9998;
}

    .header img {
        height: 30px;
    }

    .header .header-left {
        left: 0;
        margin-left: 20px;
    }

    .header .header-right {
        position: absolute;
        right: 0;
    }

.header-right a:hover,
.header-right a:focus {
    background-color: #3e3e3e !important;
    cursor: pointer;
}

.dropdown-header-custom.open > a,
.dropdown-header-custom.open > a:hover,
.dropdown-header-custom.open > a:focus {
    background-color: #3e3e3e !important;
    color: #aaa !important;
    cursor: pointer;
}

.body-content {
    background: url('/Images/common/back.png') no-repeat center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    width: 100%;
    background-color: #222;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 9998;
}

    .footer a {
        color: #fff;
    }

.full-content {
    height: calc(100vh - 100px);
}

.fluid-content {
    min-height: calc(100vh - 100px);
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    display: flow-root;
}



.center-item {
    justify-content: center;
    align-items: center;
    display: flex !important;
}


.text-white {
    color: white;
}


.float-left {
    float: left;
}



.dropdown-menu-lg-right {
    right: 0;
    left: auto;
}

.dropdown-custom {
    background-color: #252525;
}

    .dropdown-custom > li a {
        color: #fff;
        padding: 10px;
    }

        .dropdown-custom > li a:hover {
            background-color: #424242;
        }

.pd-left-0 {
    padding-left: 0px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.pd-right-0 {
    padding-right: 0px !important;
}




.modal-header-custom {
    display: flex;
}

    .modal-header-custom .close {
        position: absolute;
        right: 0;
        margin-right: 20px;
    }


.dropdown-menu.inner > li > a {
    color: #000 !important;
}

    .dropdown-menu.inner > li > a:hover {
        color: #fff !important;
    }

.link-text {
    color: #7396FF !important;
}

.box-album {
    background-color: #003648 !important;
}


.btn-ip-search {
    color: #ffffff;
    background-color: #303030;
    border-color: #303030;
    outline: none;
}

    .btn-ip-search:hover,
    .btn-ip-search:focus,
    .btn-ip-search:active,
    .btn-ip-search.active,
    .open .dropdown-toggle.btn-ip-search {
        color: #ffffff;
        background-color: #424242;
        border-color: #424242;
        outline: none;
    }

    .btn-ip-search:active,
    .btn-ip-search.active,
    .open .dropdown-toggle.btn-ip-search {
        background-image: none;
        outline: none;
    }

    .btn-ip-search.disabled,
    .btn-ip-search[disabled],
    fieldset[disabled] .btn-ip-search,
    .btn-ip-search.disabled:hover,
    .btn-ip-search[disabled]:hover,
    fieldset[disabled] .btn-ip-search:hover,
    .btn-ip-search.disabled:focus,
    .btn-ip-search[disabled]:focus,
    fieldset[disabled] .btn-ip-search:focus,
    .btn-ip-search.disabled:active,
    .btn-ip-search[disabled]:active,
    fieldset[disabled] .btn-ip-search:active,
    .btn-ip-search.disabled.active,
    .btn-ip-search[disabled].active,
    fieldset[disabled] .btn-ip-search.active {
        background-color: #1d2124;
        border-color: #1d2124;
        outline: none;
    }


#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    height: auto;
    position: relative;
    float: left;
    line-height: 22px;
    display: flex;
}

    .search input {
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        border-radius: 1px;
        width: 100%;
        margin-left: 0px;
    }


/* Text size */
.text-small {
    font-size: 12px;
}
.text-large {
    font-size: 18px;
}


/* common a link */
.white-link {
    color: #fff!important;
    text-decoration: none;
}
    .white-link:hover,
    .white-link:active,
    .white-link:focus{
        color: #aaa !important;
        text-decoration: none;
    }

.secondary-link {
    color: #c3c3c3!important;
    text-decoration: none;
}

    .secondary-link:hover {
        color: #fff!important;
        text-decoration: none;
    }
.blue-link {
    color: #8AA9DA!important;
    text-decoration: none;
    cursor: pointer;
}
    .blue-link:hover,
    .blue-link:active,
    .blue-link:focus {
        color: #fff !important;
        text-decoration: none;
        cursor: pointer;
    }
.no-link-text {
    color:#c3c3c3;
}
.disabled-text{
    color: #303030;
}


/* coomon box */
.box-default {
    background-color: #424242;
    border-radius: 3px; /*10px;*/
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
}

/* common margin and paddings */
/* used in nearly all pages*/
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.pd-0 {
    padding:0px;
}
.pd-10 {
    padding: 10px;
}
.pd-15 {
    padding: 15px;
}
.pd-20 {
    padding: 20px;
}
.pd-25 {
    padding: 25px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-top-10 {
    padding-top: 10px;
}

.pd-tb-15 {
    padding-top: 15px;
    padding-bottom : 15px;
}
.col-remove-pd-left {
    padding-left: -15px;
}
.col-remove-pd-right {
    padding-right: -15px;
}
/* width height */
.w-100 {
    width: 100%;
}
.w-70 {
    width: 70%;
}
.w-30 {
    width: 30%;
}

.w-100-force {
    width: 100%!important;
}
.h-100 {
    height: 100%;
}

/* Card Design for Feature, Category -- Image Card*/
.image-card-list {
    line-height: 0;
    list-style-type: none;
    text-align: justify;
}

.image-card-img {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
    .image-card-img img {
        -webkit-transition: -webkit-transform .3s ease-in-out;
        width: 100%;
        height: 210px;
    }
        .image-card-img img:hover {
            transform: scale(1.1);
        }

.image-card-description {
    padding: 22px;
    text-align: center;
    background-color: #222;
}

.ip-card-content {
    border-radius: 7px;
}
.ip-card-img {
    height:200px;
}
    .ip-card-img img {
        width: 100%;
        max-height: 200px;
        border-radius: 7px;
    }
.ip-card-body-line {
    position: relative;
    width: 100%;
    margin-top: 2px;
    display: inline-block;
}


/* Normal Card */

/* Button */
.btn-search {
    border-radius: 1px;
    color: #fff;
}

    .btn-search:hover,
    .btn-search:focus,
    .btn-search:active
    {
        color: #aaa;
        outline-color: transparent;
    }

.btn-ip-more {
    min-width: 300px;
}