@model IVoice.Models.Features.FeatureList

<div class="container fluid-content image-card-list">
    <div class="row margin-top-30">
        @{
            foreach (var item in Model._lst)
            {
                @Html.Partial("_ImageCard", item)
            }
        }
    </div>
</div> 