@model IVoice.Models.Components.PersonalCard.CardBodyPersonalModel

<div class="viewcard-body" style="@Model._style">
    <div style="min-height:200px;">
        <img src="@Model._img" style="width:100%" />
    </div>
    @if (Model._current)
    {
        <div class="personal-btn w-100">EP Points: @Model._ep</div>
    }
    else
    {
        <div class="personal-btn w-100"><i class="fade fa-plus"></i>&nbsp;Connect to voicer</div>
    }
    <div class="personal-btn w-100"><i class="fa fa-user"></i>&nbsp;Personal Info</div>

    <div style="margin-bottom:10px;justify-content:center;display:flex;">
        @if (Model._gallery)
        {
            <span class="personal-btn personal-small-btn">Gallery</span>
        }
        else
        {
            <span class="personal-btn-disabled personal-small-btn">Gallery</span>
        }
        @if (Model._voicers)
        {
            <span class="personal-btn personal-small-btn">Voicers</span>
        }
        else
        {
            <span class="personal-btn-disabled personal-small-btn">Voicers</span>
        }
        @if (Model._spreads)
        {
            <span class="personal-btn personal-small-btn">Spreads</span>
        }
        else
        {
            <span class="personal-btn-disabled personal-small-btn">Spreads</span>
        }
    </div>
</div>